BUDGET_URL=url_with_budget_universities_data
CONTRACT_URL=url_with_contract_universities_data
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db
POSTGRES_MIN_CONNS=1
POSTGRES_MAX_CONNS=10