/* Home.module.css */

.pageWrapper {
    display: flex;
    min-height: 100vh;
    background-color: #f9f9f9;
    color: #333;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.titleWrapper {
    text-align: center;
    margin-bottom: 10px;
}

.logoImage {
    width: 150px;
    height: auto;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #3b3b3b;
}

.title {
    font-style: normal;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 36px;
    text-align: center;
    font-weight: 900;
    font-variant: small-caps;
    color: #2c3e50;
}

.subtitle {
    font-size: 18px;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: lighter;
    font-style: italic;
    color: #2c3e50;
    margin-top: 5px;
}

.mainContentWrapper {
    display: flex;
    font-family: "Comic Sans MS", sans-serif ;
    justify-content: space-between;
    padding: 40px;
}

.mainContent {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 32px;
    font-family: "Comic Sans MS", sans-serif;
    color: #2c3e50;
}

p {
    font-size: 18px;
    font-family: "Comic Sans MS", sans-serif;
    color: #7f8c8d;
    line-height: 1.6;
    margin-bottom: 20px;
}

.button {
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
    width: 200px;
}

.button:hover {
    background-color: #2980b9;
}

.buttonsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtersAndList {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #e9eff6;
}

.formSection {
    width: 300px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 12px;
    color: #2c3e50;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.mainContent {
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;

}

